@charset "utf-8";
/* CSS Document */

body{
	background-color: #444444;
	color: white;
	font-size:48px;
}

div#fade {
	background: -webkit-linear-gradient(rgba(68, 68, 68, 0) 0%, rgba(68, 68, 68, 1) 98%);
}

div.tooltip, div.button {
	border: 1px solid white;
}

div.tooltip {
	background: #444444;
}

div.dev{
	color: #444444;
}

div.light {
	display:inline-block;
}

div.dark {
	display:none;
}

input {
	text-align: center;
	width: 200px;
	height: 64px;
	font-size:48px;
	color: white;
	background-color: #606060;
	border: 2px solid #383838;
	margin-bottom: -5px;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
}

#readout, #label{
	width: 100%;
}

#label{
	font-size:42px;
	margin-bottom:10px;
}

#readout{
	margin-bottom: 10px;
	width: 1024px;
}

#formGroup{
	width: 400px;
}

#progressBar {
  width: 400px;
  height: 24px;
  background-color: #606060;
}

#progressFill {
  height: 100%;
  text-align: right;
  line-height: 24px; /* same as #progressBar height if we want text middle aligned */
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

#inputFade{
	opacity: 0.0;
}

#clueFade{
	opacity: 1.0;
}

.fade {
	position:absolute;
	padding: 2px;
	height: 100%;
	width: 100%;
	background-color: #444444;
	pointer-events: none;
}

#clueGroup{
	visibility: hidden;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1024px;
}

#inputGroup{
	visibility: visible;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#clueSubmit{
	width:150px;
	height:30px;
	font-size:16px;
	font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}