@charset "utf-8";
/* CSS Document */

#container{
	position: relative;
	text-align: center;
}

#earth {
	position:relative;
	width:620px;
	height:620px;
	margin: auto;
}

.loadEarth {
	position: absolute;
	top:0;
	left:0;
}

#none {
	clip: rect(147px, 473px, 473px, 147px);
	border-radius: 50%;
}

.continents {
	position:absolute;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover;
	width:327.5px;
	height:327.5px;
	margin-left: 146.5px;
}

.load3d {
	width: 620px;
	height: 620px;
}

.centerVertical{
	position: absolute;
 	top: 50%;
  	transform: translateY(-50%);
}

#back {
	animation: rotate 10s linear infinite;
	background-image: url("svg/land-back.svg");
}

#land {
	animation: rotate 10s linear infinite reverse;
	background-image: url("svg/land.svg");
}

@-webkit-keyframes rotate {
    from {background-position: 0%;}
    to {background-position: 212%;}
} 

#nextframe {
	position:absolute;
	bottom:0;
	left:0;
	height:64px;
	width:64px;
	border: 1px solid black;
}

#nextframe:hover {
	background-color:#aaaaaa;
}